.button{
    cursor: pointer;
    
    &--reset{
        display: flex;
        flex-wrap: nowrap;

        justify-content: center;
        align-items: center;
        background: black;

        color: white;

        margin-top: 8px;
        padding: 8px 16px;

        border-radius: 4px;

        &__icon{
            margin-right: 16px;
        }

        &__name{
            white-space: nowrap;
        }
    }
}